---
import Layout from '../layouts/Layout.astro';
import SignInForm from '../components/SignInForm.astro';
---

<Layout title="Welcome to Astro." navbarActive='signin'>
	<main>
	<SignInForm action="http://localhost:4747/signin"></SignInForm>
	</main>
</Layout>

<style>

</style>
