---
import Layout from '../layouts/Layout.astro';
import SignUpForm from '../components/SignUpForm.astro';
---

<Layout title="Welcome to Astro." navbarActive='signup'>
	<main>
	<SignUpForm action="http://localhost:4747/signup"></SignUpForm>
	</main>
</Layout>

<style>

</style>
